@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/typography';
@import 'base/reset';

@import 'components/header';
@import 'components/button';
@import 'components/section';
@import 'components/first-section';
@import 'components/feature';
@import 'components/companies';
@import 'components/fourth_section';
@import 'components/footer';
@import 'components/container';
@import 'components/second-section';
@import 'components/third-section';
@import 'components/content-container';
@import 'components/socials';

body {
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;

    @media screen and (min-width: 375px) {
        background-image: url(images/bg-header-desktop.png);
    }
}
