.button {
    cursor: pointer;
    width: 100%;
    padding: 1em 1.5em;
    border-radius: 1.5em;
    border: none;
    color: white;
    font-weight: 600;

    &--green {
        background-color: $strong-cyan;
        box-shadow: 0 3px darken($strong-cyan, 10%);

        &:hover {
            background-color: lighten($strong-cyan, 10%);
        }
    }

    &--purple {
        background-color: $light-blue;
        box-shadow: 0 3px darken($light-blue, 10%);

        &:hover {
            background-color: lighten($light-blue, 10%);
        }
    }
}