.first-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    border: 1px solid black;

    &__image {
        object-fit: fill;
    }
}

@include bigger-than-1024px {
    .first-section {
        grid-template-columns:  1fr 1fr;
        gap: 5em;
        justify-items: left;

        &__content {
            text-align: left;
            width: 70%;
            // border: 1px solid black;

        }
    }
}