@include bigger-than-1024px {
    .third-section {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 3em;

        & > * {
            flex: 1;
        }
    }
}